
.vs/DHCP Balancer/FileContentIndex/e001531a-67f4-4869-910a-72f8ef91c662.vsidx
.vs/ProjectEvaluation/dhcp balancer.projects.v7.bin
.vs/DHCP Balancer/DesignTimeBuild/.dtbcache.v2
.vs/DHCP Balancer/v17/.futdcache.v2
.vs/DHCP Balancer/v17/.suo
.vs/ProjectEvaluation/dhcp balancer.metadata.v7.bin
